ul{
	list-style: none;
}
li{
	display: inline;
}
h1{
	text-align: center;
	margin: 5% 0%;
}
img{
	width: 100%;
}
p{
	margin-bottom: 3%;
	text-align: center;
}
.margen-top{
	margin-top: 3%;
}
h2{
	text-align: center;
	color: #50F70E;
}